<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- Đây là file quản tính -->

    <!-- Quán tính hình cầu -->
    <xacro:macro name="quan_tinh_hinh_cau" params="mass radius *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(2/5) * float(mass) * (float(radius)*float(radius))}" ixy="0.0" ixz="0.0"
                     iyy="${(2/5) * float(mass) * (float(radius)*float(radius))}" iyz="0.0"
                     izz="${(2/5) * float(mass) * (float(radius)*float(radius))}" />
        </inertial>
    </xacro:macro>  




    <!-- Quán tính hình hộp -->
    <xacro:macro name="quan_tinh_hinh_hop" params="mass x y z *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(1/12) * float(mass) * (float(y)*float(y) + float(z)*float(z))}" ixy="0.0" ixz="0.0"
                     iyy="${(1/12) * float(mass) * (float(x)*float(x) + float(z)*float(z))}" iyz="0.0"
                     izz="${(1/12) * float(mass) * (float(x)*float(x) + float(y)*float(y))}" />
        </inertial>
    </xacro:macro>



    <!-- Quán tính hình trụ -->
    <xacro:macro name="quan_tinh_hinh_tru" params="mass length radius *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(1/12) * float(mass) * (3*float(radius)*float(radius) + float(length)*float(length))}" ixy="0.0" ixz="0.0"
                     iyy="${(1/12) * float(mass) * (3*float(radius)*float(radius) + float(length)*float(length))}" iyz="0.0"
                     izz="${(1/2) * float(mass) * (float(radius)*float(radius))}" />
        </inertial>
    </xacro:macro>

</robot>